[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
loguru = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
flask-socketio = "*"

[dev-packages]

[requires]
python_version = "3.9"
